body{
    font-family: "WindSong", cursive;
    background-color: #f0f3fd;
    color: #164365;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header{
    margin-bottom: 30px;
}

h1{
    font-size: 2.5rem;
    color:#16306b;
}

.search-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #16306b;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
}

#search-button{
    padding: 10px 20px;
    background-color: #16306b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "WindSong", cursive;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#search-button:hover { 
    background-color: #2b5186;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 200px;
    margin: 0 auto;
    object-fit: cover; /* Crop images to fit without distortion */
    display: block; /* Remove extra space below images */
    justify-content: center;
    
}

@media (max-width: 768px) {
  .results-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}


@media (max-width: 480px) {
  .results-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
} 
.dog-image:hover {
    transform: scale(1.2);
}




